<div class="welcomePartial w-100 d-flex justify-content-between bg-color">
	<h1 class="d-inline">Welcome <%= user.username %></h1>
	<button class="btn btn-light my-2 logOutButton" type="button">Log out</button>
</div>