<html lang="en">
	<head>
		<title>Error Login</title>
		<%- include("../partials/head") %>
		<meta http-equiv="refresh" content="2;url=/login" />
	</head>
	<body>
		<div class="errorLoginContainer d-flex flex-column align-items-center py-4">
			<div class="errorLoginMessage text-center w-75 bg-danger text-white py-5">
				<h1>USER ERROR LOGIN</h1>
			</div>
		</div>
	</body>
</html>