<html lang="en">
	<head>
		<title>Error Register</title>
		<%- include("../partials/head") %>
		<meta http-equiv="refresh" content="2;url=/register" />
	</head>
	<body>
		<div class="errorRegisterContainer d-flex flex-column align-items-center py-4">
			<div class="errorRegisterMessage text-center w-75 bg-danger text-white py-5">
				<h1>USER ERROR REGISTER</h1>
			</div>
		</div>
	</body>
</html>